var pageHeight = 0              // 页面高度
var translateY = '90%'          // 初始化偏移量
var initHeight = 0              // 最初偏移量
var offsetRange = {             // 偏移范围
    top: 0,
    bottom: 0
}
var offset = {                  // 偏移对象
    dir: 'up',
    start: 0,
    deltaY: 0
}
var offsetThreshold = 0         // 自动贴合的位移阈值
var popupEl = null
var self = null

/**
 * 触摸开始
 * @param {any} event       事件对象
 * @param {any} instance    微信实例
 * @returns {void}
 */
function touchStart(event, instance) {
    // 在这里调用 wx 实例的方法
    if (!popupEl) {
        popupEl = instance.selectComponent('#drag-popup')
        self = instance
    }
    offset.start = event.changedTouches[0].clientY
}

/**
 * 触摸移动
 * @param {any} event       事件对象
 * @returns {void}
 */
function touchMove(event) {
    if (!offset.start) {
        offset.start = event.changedTouches[0].clientY
    }
    // 计算移动距离
    var offsetY = event.changedTouches[0].clientY - offset.start
    offset.deltaY = Math.abs(offsetY)
    translateY = Math.round(initHeight + offsetY)
    if (offsetY < 0) {
        // 向上
        if (translateY <= offsetRange.top) {
            translateY = offsetRange.top
        }
        offset.dir = 'up'
    } else {
        // 向下
        if (translateY >= offsetRange.bottom) {
            translateY = offsetRange.bottom
        }
        offset.dir = 'down'
    }
    popupEl.setStyle({
        'transform': 'translate3d(0, ' + translateY + 'px, 0)',
        'transition': 'none'
    })
}

/**
 * 触摸结束
 * @param {any} event       事件对象
 * @returns {void}
 */
function touchEnd() {
    if (isReachEdge()) return

    // 如果轻微拖动距离 > 自动贴合阈值
    if (offset.deltaY > offsetThreshold) {
        offset.deltaY = 0
        if (offset.dir === 'up') {
            translateY = offsetRange.top
        } else if (offset.dir === 'down') {
            translateY = offsetRange.bottom
        }
    } else {
        if (offset.dir === 'up') {
            translateY = offsetRange.bottom
        } else if (offset.dir === 'down') {
            translateY = offsetRange.top
        }
    }
    popupEl.setStyle({
        'transform': 'translate3d(0, ' + translateY + 'px, 0)'
    })
    // 保存当前位置
    initHeight = translateY
    offset.start = 0
}

/**
 * 获取设备可视范围高度
 * @param {number} clientHeight  高度
 * @returns {void}
 */
function getResult(res) {
    if (pageHeight || !res.windowHeight) return
    pageHeight = res.windowHeight
    offsetThreshold = res.windowHeight * 0.15
    initHeight = offsetRange.bottom = res.initHeight
    translateY = initHeight
}

/**
 * 是否触碰到边界
*/
function isReachEdge() {
    if (translateY === offsetRange.top) {
        initHeight = offsetRange.top
        offset.start = 0
        self.callMethod('offTouchEvent')
        return true
    } else if (translateY === offsetRange.bottom) {
        initHeight = offsetRange.bottom
        offset.start = 0
        return true
    }
    return false
}

module.exports = {
    getResult: getResult,
    translateY: translateY,
    touchStart: touchStart,
    touchMove: touchMove,
    touchEnd: touchEnd
}